---
import Navbar from "../../src/components/Navbar.astro"
import Main from "../../src/components/Main.astro"
import Footer from "../../src/components/Footer.astro"
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News Homepage</title>
	</head>
	<body class="bg-offWhite  px-[20rem] pt-[2rem]">
		<Navbar/>
		<Main/>
		<Footer/>
	</body>
</html>
